/* ======================== variables ============================ */
$brand-color : #F9B217;
$primary-color : #FFFFFF;
$light-gray : #C5C5C5;
$box-color : #000000;
$bg : #363636; 
/* ======================== variables ============================ */